<!DOCTYPE html>
<html>
	<head>
		<title>Report for NCC Group Scrying</title>
		<style>
			#main {
				width: 60%;
				margin: 0 auto;
			}
			.section {
				width: 100%;
				display: block;
				clear: both;
			}
			.imagebox {
				width: 300px;
				float: left;
				margin: 2px;
				border-style: dotted;
				border-width: 2px;
				border-color: LightGray;
			}
		</style>
	</head>
	<body>
		<div id="main">
		<h1>Report for NCC Group Scrying</h1>
			<h3>Navigation</h3>
			<div id="navigation">
				<ul>
					{% if !rdp_outputs.is_empty() %}
					<li><a href="#rdp">RDP images</a></li>{% endif %}
					{% if !web_outputs.is_empty() %}
					<li><a href="#web">Web images</a></li>{% endif %}
					<li><a href="#summary">Scan summary</a></li>
				</ul>
			</div>
			{% if !rdp_outputs.is_empty() %}
			<div class="section">
				<h2 id="rdp">RDP captures</h2>
				{% for out in rdp_outputs %}
				<a href="{{ out.file() }}">
					<div class="imagebox">
						<img width="300px" src="{{ out.file() }}" />
						<br />{{ out.target() }}
					</div>
				</a>
				{% endfor %}
			</div>
			{% endif %}

			{% if !web_outputs.is_empty() %}
			<div class="section">
				<h2 id="web">Web captures</h2>
				{% for out in web_outputs %}
				<a href="{{ out.file() }}">
					<div class="imagebox">
						<img width="300px" src="{{ out.file() }}" />
						<br />{{ out.target() }}
					</div>
				</a>
				{% endfor %}
			</div>
			{% endif %}

			<div class="section">
				<h2 id="summary">Scan summary</h2>
			</div>
		</div>
	</body>
</html>